@font-face {
  font-family: "zw-portal-iconfont"; /* Project id 4239987 */
  src: url('iconfont.woff2?t=1693992961085') format('woff2'),
       url('iconfont.woff?t=1693992961085') format('woff'),
       url('iconfont.ttf?t=1693992961085') format('truetype');
}

.zw-portal-iconfont {
  font-family: "zw-portal-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zw-portal-icon-yanzhengma:before {
  content: "\e607";
}

.zw-portal-icon-shouji:before {
  content: "\e608";
}

.zw-portal-icon-mima:before {
  content: "\e606";
}

.zw-portal-icon-zhanghao:before {
  content: "\e605";
}

